<header>
    <h2 class="logo">logo</h2>
    <nav class="navgationbar">
         <a href="" class="active">Home</a>
         <a href="">About</a>
         <a href="">Service</a>
         <a href="">Contact</a>
    </nav>
</header>
<!--Parllax-->
<section class="parallax">
     <img src="../../assets/images/forest2-image/hill1.png" id="hill1">
     <img src="../../assets/images/forest2-image/hill2.png" id="hill2">
     <img src="../../assets/images/forest2-image/hill3.png" id="hill3">
     <img src="../../assets/images/forest2-image/hill4.png" id="hill4">
     <img src="../../assets/images/forest2-image/hill5.png" id="hill5">
     <img src="../../assets/images/forest2-image/tree.png" id="tree">
     <h2 id="text">Welcome Parallax</h2>
     <img src="../../assets/images/forest2-image/leaf.png" id="leaf">
     <img src="../../assets/images/forest2-image/plant.png" id="plant">
</section>
<!--About-->
<section class="sea">
     <h2>Paralal Scrolling Website</h2>
     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Sapiente cupiditate accusantium itaque officia tempore, voluptates
          tenetur quibusdam nemo modi, optio voluptas illo. Suscipit facere
           eligendi eaque est et sit, eum consectetur sed qui atque? Quidem 
           at ipsum sint iste quas soluta laboriosam rem quasi? Ullam atque 
        repellendus aliquid nesciunt totam!
        <br> <br>

        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Sapiente cupiditate accusantium itaque officia tempore, voluptates
          tenetur quibusdam nemo modi, optio voluptas illo. Suscipit facere
           eligendi eaque est et sit, eum consectetur sed qui atque? Quidem 
           at ipsum sint iste quas soluta laboriosam rem quasi? Ullam atque 
        repellendus aliquid nesciunt totam!

        <br> <br>

        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Sapiente cupiditate accusantium itaque officia tempore, voluptates
          tenetur quibusdam nemo modi, optio voluptas illo. Suscipit facere
           eligendi eaque est et sit, eum consectetur sed qui atque? Quidem 
           at ipsum sint iste quas soluta laboriosam rem quasi? Ullam atque 
        repellendus aliquid nesciunt totam!

        <br> <br>

        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Sapiente cupiditate accusantium itaque officia tempore, voluptates
          tenetur quibusdam nemo modi, optio voluptas illo. Suscipit facere
           eligendi eaque est et sit, eum consectetur sed qui atque? Quidem 
           at ipsum sint iste quas soluta laboriosam rem quasi? Ullam atque 
        repellendus aliquid nesciunt totam!


        <br> <br>

        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Sapiente cupiditate accusantium itaque officia tempore, voluptates
          tenetur quibusdam nemo modi, optio voluptas illo. Suscipit facere
           eligendi eaque est et sit, eum consectetur sed qui atque? Quidem 
           at ipsum sint iste quas soluta laboriosam rem quasi? Ullam atque 
        repellendus aliquid nesciunt totam!


        <br> <br>

        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Sapiente cupiditate accusantium itaque officia tempore, voluptates
          tenetur quibusdam nemo modi, optio voluptas illo. Suscipit facere
           eligendi eaque est et sit, eum consectetur sed qui atque? Quidem 
           at ipsum sint iste quas soluta laboriosam rem quasi? Ullam atque 
        repellendus aliquid nesciunt totam!
    </p>
</section>