<header>
    <a href="#" class="logo">Logo</a>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
</header>

<section>
    <img id="background1" src="../../assets/images/forest-images/background1.png" alt="">
    <img id="background2" src="../../assets/images/forest-images/background2.png" alt="">
    <img id="layer2" src="../../assets/images/forest-images/Layer 2.png" alt="">
    <h2 id="title">Tropical Forest</h2>
    <a href="#content" class="btn" id="btn">Explore the forest</a>
    <img id="layer3" src="../../assets/images/forest-images/Layer 3.png" alt="">
</section>
    
<div class="content" id="content">



    <h2>Learn a little about the rainforest</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, repudiandae alias eum culpa aliquid iure ipsa suscipit quam illum dolores molestias ullam dicta reprehenderit veniam aspernatur consectetur perferendis fuga id.
        Pariatur delectus beatae quibusdam eum aliquam cumque optio in sint quod dolorum! Possimus amet sed repellendus quos magni facilis, magnam vero aspernatur totam necessitatibus perspiciatis, inventore itaque similique sint impedit?
        Non, fugiat vitae quos provident unde molestias eum eos, laboriosam tempore quasi quaerat suscipit qui reprehenderit voluptatem quisquam. Aliquam sequi provident explicabo vel itaque alias tenetur libero dolorum, facere aperiam!
        Facere quos vero odio accusamus labore, atque nostrum magnam incidunt reprehenderit iure a necessitatibus impedit suscipit quo expedita debitis. Corporis cumque reprehenderit fuga esse quos est, iusto quis aut excepturi?
        <br><br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore magnam voluptatibus, atque dignissimos reprehenderit nemo eligendi sunt alias officiis perspiciatis delectus? Est vero sapiente ut magni. Dignissimos quod quaerat a?
        Assumenda asperiores dolorum atque possimus ipsa. Veniam reprehenderit maiores nulla deleniti sapiente suscipit quasi tempora minus ratione quibusdam iure alias cum, unde eaque! Voluptatum, tempore repellendus aliquam earum ratione similique.
        Veniam nisi dolor dolore id! Doloremque, repudiandae quia! Iure repellendus excepturi unde, laudantium non debitis animi quibusdam magnam velit dignissimos et pariatur officia cupiditate amet blanditiis maxime illum voluptas quia.
        Rerum dolorum repudiandae adipisci hic praesentium quod quaerat, non dignissimos id quia, maiores iste minima mollitia doloribus eligendi sunt, fugiat temporibus veniam tenetur esse laudantium vitae est. Velit, suscipit non!
        At ipsa excepturi provident alias praesentium accusantium ab reprehenderit, cumque reiciendis tenetur eius blanditiis ex veritatis ipsum. Cumque nesciunt, voluptatum aut ducimus ipsum iure dolorem modi! Ipsum eveniet sunt eius?
        <br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur repellendus aperiam rem vero, ea at assumenda dolores adipisci inventore, molestiae harum, impedit praesentium quisquam quibusdam. Repellendus minus quo quas deleniti.
        Doloribus, corrupti quae ad saepe eligendi cupiditate harum dolorem repudiandae modi quis accusantium id beatae eius aperiam voluptas vitae cum? Architecto rerum numquam maiores magnam repudiandae possimus commodi quo ex.
        Fugiat rem iste quod corrupti maiores quia reprehenderit nulla, facere assumenda praesentium provident possimus eius distinctio minus veniam necessitatibus sit ea cum non voluptatibus amet mollitia. Delectus enim quibusdam tempora?
        Commodi voluptates ipsam nesciunt, quaerat cum itaque ducimus neque architecto dolores veniam maiores, doloremque nam ullam exercitationem adipisci optio iusto? Saepe quos suscipit facilis, quidem corrupti nostrum et explicabo hic?
        Blanditiis sit, ipsam esse rem eius reprehenderit, dolorem eveniet, a laborum molestias quo corrupti est temporibus ea assumenda numquam ipsum! Autem cupiditate eum sunt architecto tempora qui facere magnam? Deleniti.
    </p>
</div>